/*   
sohorses.com CSS overrides
*/



body {
	background-color: rgb(250,245,240);
	font:15px 'Merriweather',serif;	
}

#centerdiv {
	background-color:#776644;
}



a:link, a:hover, a:visited {
	color: black;
}


/*
Single post
*/

#midcol {
	background-color: floralwhite;
}

#centergame {
	border: solid #2D2D2D 2px;
	background-color: 	#2D2D2D;
}

h2.singlepostheader {
	color:#441111;
}

h2.archiveheader, h2.archiveheader a:link, h2.archiveheader a:visited {
	color:floralwhite;
}

.categorydescription {
	color:floralwhite;
	margin-bottom: 10px;
}

/*category and tag buttons*/

.tagbutton {
	background-color: hotpink;

}


.categorybutton {
	background-color: hotpink;
	padding:4px;
	border-radius:4px;
	margin-left:6px;
}

.tagbutton:hover {
	background-color: deeppink;
}

.categorybutton:hover {
	background-color: deeppink;
}


.tagbutton a:visited, .tagbutton a:link {
	color:white;
}

.categorybutton a:visited, .categorybutton a:link {
	color:white;
}

#backbutton {
	color:floralwhite;
 	background-image: url('backbuttongirlwithgun.png');
 	padding-left: 13px;
 	line-height: 29px;
}

#backbutton:hover {
	background-image: url('backbuttongirlwithgunhover.png');
}


/*header and footer*/

#headerimg {
	background-color: deeppink;
	background-image: url('sohorseslogo.png');
}

#headerimg:hover {
	background-color: hotpink;
}


#s {
	border: 2px solid hotpink;
	background-color:floralwhite;
}

#searchsubmit {
	font-size: 14px;
	font-family: 'Merriweather',serif;
	color: white;
	background-color: hotpink;
}

#searchsubmit:hover {
	background-color: deeppink;
}

/*
	POST
*/


.post {
	background-color: floralwhite;
}

.post:hover {
	background-color: hotpink;
	box-shadow: 0px 0px 20px hotpink;
}

.glow {
	box-shadow: 0px 0px 20px hotpink;
}

.newgamelabel {
	position: absolute;
	background-color: transparent;
	background-image: url('rosettebig.png');
	background-position: right top;
	color: transparent;
	top: -10px;
	right: -16px;
	width: 100%;
	height:100px;
}






